@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background: white;
  font: 17px/1.8 'Montserrat', sans-serif;
  color: #4f4e4c;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3em;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/*==========================================================================
  GLOBAL CLASS
========================================================================== */
.bg-grey {
  position: relative;
  z-index: 1;
}
.bg-grey:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  margin-left: -292px;
  background: #efefef;
}
@media (max-width: 1199px) {
  .bg-grey:before {
    margin-left: -237px;
  }
}
@media (max-width: 991px) {
  .bg-grey:before {
    margin-left: -123px;
  }
}
@media (max-width: 767px) {
  .bg-grey:before {
    display: none;
  }
}

.img-right {
  float: right;
  margin-left: 28px;
}
@media (max-width: 480px) {
  .img-right {
    float: none;
    margin: 0;
    margin-bottom: 25px;
  }
}

.main-space {
  padding: 50px 0;
}
.main-space:before, .main-space:after {
  content: " ";
  display: table;
}
.main-space:after {
  clear: both;
}

.btn-ylowshad {
  background: none;
  border: none;
  background: #f1c40f;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: white;
  font: 400 24px 'Montserrat', sans-serif;
  padding: 20px 25px;
  text-decoration: none;
  position: relative;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px #b68d00;
  box-shadow: 0 5px #b68d00;
  text-shadow: 0 1.3px #aa8a0a;
}
.btn-ylowshad:hover {
  color: white;
  text-decoration: none;
  top: 2px;
  -webkit-box-shadow: 0 3px #b68d00;
  box-shadow: 0 3px #b68d00;
}
.btn-ylowshad:active {
  -webkit-box-shadow: 0 0px #b68d00;
  box-shadow: 0 0px #b68d00;
  top: 6px;
  color: white;
  text-decoration: none;
}
.btn-ylowshad.full {
  width: 100%;
}

.btn-ylow {
  background: none;
  border: none;
  background: #f1c40f;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  min-width: 200px;
  width: auto !important;
  width: 200px;
  text-align: center;
  font: 400 16px 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.btn-ylow:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #cba50c;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-ylow:hover, .btn-ylow:active, .btn-ylow:focus {
  color: white;
  text-decoration: none;
}
.btn-ylow:hover:after {
  height: 260%;
  opacity: 1;
}
.btn-ylow:active:after {
  height: 400%;
  opacity: 1;
}

.btn-white {
  background: none;
  margin: 0;
  border: none;
  background: white;
  color: #404040;
  font-size: 0.9em;
  border: 1px solid #bdcbc5;
  padding: 7px 25px;
  text-transform: uppercase;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background: #24543e;
  color: white;
  text-decoration: none;
}

/* ======== TYPOGRAPHY ======== */
.title-lg {
  margin: 0;
  margin-bottom: 40px;
  font: 700 43px/1.3 'Montserrat', sans-serif;
  color: #24543e;
  text-transform: uppercase;
  text-align: center;
}
.title-lg:before, .title-lg:after {
  content: " ";
  display: table;
}
.title-lg:after {
  clear: both;
}
@media (max-width: 1199px) {
  .title-lg {
    font-size: 39px;
  }
}
@media (max-width: 480px) {
  .title-lg {
    font-size: 35px;
  }
}
.title-lg.white {
  color: white;
}

.title-sm {
  color: #272727;
  font-size: 22px;
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
}
.title-sm.title-line {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

/*==========================================================================
  HEADER
========================================================================== */
#header {
  position: relative;
  z-index: 0;
}

#hometop-block {
  background-image: url('../img/bg-image.jpg?1416470375');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: white;
  height: auto;
  overflow: hidden;
}
#hometop-block:before, #hometop-block:after {
  content: " ";
  display: table;
}
#hometop-block:after {
  clear: both;
}
@media (min-width: 1200px) {
  #hometop-block {
    height: 750px;
  }
}

.logowrap {
  background: white;
  color: #24543e;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 24px;
}
.logowrap.logo-nobg {
  background: transparent;
  color: white;
}
.logowrap.logo-nobg #logo p, .logowrap.logo-nobg .logo-foot p {
  color: white;
}
.logowrap.logo-nobg #logo p:before, .logowrap.logo-nobg .logo-foot p:before, .logowrap.logo-nobg #logo p:after, .logowrap.logo-nobg .logo-foot p:after {
  background: white;
}
.logowrap.logo-nobg #logo h1, .logowrap.logo-nobg .logo-foot h1 {
  color: white;
}

#logo p, .logo-foot p {
  font: 400 18px 'Montserrat', sans-serif;
  position: relative;
  margin-bottom: 0;
  width: 355px \9;
  max-width: 355px;
  text-transform: uppercase;
  color: #24543e;
  margin: 0 auto;
}
#logo p:before, .logo-foot p:before, #logo p:after, .logo-foot p:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 60px;
  height: 3px;
  background: #24543e;
}
#logo p:before, .logo-foot p:before {
  left: 0;
}
#logo p:after, .logo-foot p:after {
  right: 0;
}
@media (max-width: 330px) {
  #logo p:before, .logo-foot p:before, #logo p:after, .logo-foot p:after {
    display: none;
  }
}
#logo h1, .logo-foot h1 {
  font: 700 36px 'Montserrat', sans-serif;
  color: #24543e;
  margin: 0;
}
@media (max-width: 330px) {
  #logo h1, .logo-foot h1 {
    font-size: 28px;
  }
}

/* ======== NAVIGATION WRAP ======== */
#nav-wrapper {
  background: rgba(51, 70, 77, 0.5);
  border-top: 1px solid #a3a2a0;
  border-bottom: 1px solid #a3a2a0;
  padding: 12px 0 0 0;
  position: relative;
  z-index: 1;
  min-height: 75px;
  height: auto !important;
  height: 75px;
}
#nav-wrapper:before, #nav-wrapper:after {
  content: " ";
  display: table;
}
#nav-wrapper:after {
  clear: both;
}
#nav-wrapper.bg-solid {
  background: #33464d;
}
#nav-wrapper .container {
  position: relative;
}
@media (max-width: 991px) {
  #nav-wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  #nav-wrapper {
    padding-bottom: 33px;
  }
}

.contact-free {
  background: #f1c40f;
  color: white;
  font-weight: 700;
  float: left;
  min-height: 95px;
  height: auto !important;
  height: 95px;
  min-width: 300px;
  width: auto !important;
  width: 300px;
  padding: 20px 25px 16px;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 0;
  top: -34px;
  margin-left: -23px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.contact-free:before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  right: -21px;
  top: 0;
  z-index: 0;
  background: transparent url('../img/clip.png?1416470401') 0 0 no-repeat;
}
.contact-free .text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 auto;
  text-align: left;
}
.contact-free p {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}
.contact-free h3 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 1345px) {
  .contact-free {
    margin-left: -107px;
  }
}
@media (max-width: 992px) {
  .contact-free {
    width: 100%;
    float: none;
    position: relative;
  }
}

/* ======== TOP SHARE ======== */
.share {
  overflow: hidden;
  font-size: 1.2em;
  text-align: left;
  padding: 6px 0;
  font-size: 1.2em;
}
@media (max-width: 991px) {
  .share {
    top: 75px;
    right: 0;
    text-align: center;
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .share {
    font-size: 1.3em;
    overflow: hidden;
    text-align: center;
  }
}
.share a {
  color: white;
  text-align: right;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 8px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.share a:last-child {
  padding-right: 0;
}
.share a:hover {
  color: #f1c40f;
}

/*==========================================================================
  SUBPAGE
========================================================================== */
#content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  padding-top: 42px;
  padding-bottom: 60px;
  float: right !important;
  border-left: 1px solid #cdcdcd;
  position: relative;
  z-index: 0;
}
@media (min-width: 768px) {
  #content {
    float: left;
    width: 66.6666666667%;
  }
}
@media (min-width: 992px) {
  #content {
    float: left;
    width: 75%;
  }
}
#content:before, #content:after {
  content: " ";
  display: table;
}
#content:after {
  clear: both;
}
@media (max-width: 767px) {
  #content {
    float: none !important;
    width: 100%;
  }
}

.content-inner {
  width: 95%;
  margin: auto;
}

#subtop-block {
  position: relative;
  z-index: 1;
}

.intro-sub-text {
  text-align: center;
  color: white;
  height: 300px;
}
@media (max-width: 330px) {
  .intro-sub-text {
    height: auto;
  }
}
.intro-sub-text:before {
  content: '';
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
@media (max-width: 330px) {
  .intro-sub-text:before {
    display: none;
  }
}
.intro-sub-text .centered {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: auto;
}
.intro-sub-text h1 {
  font: 700 46px 'Montserrat', sans-serif;
  margin: 0;
}
@media (max-width: 330px) {
  .intro-sub-text h1 {
    margin: 20px 0;
    font-size: 40px;
  }
}

/*==========================================================================
  INTRO
========================================================================== */
.homeintro {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 50px;
}
.homeintro:before, .homeintro:after {
  content: " ";
  display: table;
}
.homeintro:after {
  clear: both;
}
@media (min-width: 1200px) {
  .homeintro {
    padding-top: 78px;
  }
}
.homeintro .thumb {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .homeintro .thumb {
    float: left;
    width: 41.6666666667%;
  }
}
@media (min-width: 992px) {
  .homeintro .thumb {
    float: left;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .homeintro .thumb {
    display: none;
  }
}
.homeintro .thumb img {
  margin: auto;
  top: auto;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.intro-desc {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro-desc {
    float: left;
    width: 58.3333333333%;
  }
}
@media (min-width: 992px) {
  .intro-desc {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .intro-desc .inner {
    width: 87%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .intro-desc {
    width: 100%;
    padding-bottom: 30px;
    float: none;
    margin: 0 auto;
  }
}
.intro-desc h2 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 34px;
}
@media (min-width: 992px) and (1199px) {
  .intro-desc h2 {
    font-size: 27px;
  }
}
.intro-desc .video {
  text-align: center;
  margin: 0 auto;
}
.intro-desc .video iframe {
  width: 90%;
  height: 250px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .intro-desc .video iframe {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .intro-desc .video iframe {
    height: 300px;
  }
}

/*==========================================================================
  NAVIGATION
========================================================================== */
#navigation {
  width: 100%;
  float: none;
  text-align: right;
}
@media (min-width: 1200px) {
  #navigation {
    width: 82%;
    float: left;
    text-align: right;
  }
}
@media (max-width: 991px) {
  #navigation {
    width: 100%;
    float: none;
    text-align: center;
  }
}
#navigation ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
#navigation ul a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font: 600 14px 'Montserrat', sans-serif;
  padding: 19px 12px 30px;
}
@media (min-width: 1345px) {
  #navigation ul a {
    font-size: 16px;
  }
}
#navigation ul a:hover {
  color: #f1c40f;
}
#navigation ul li {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
}
#navigation ul li:hover > ul {
  display: block;
}
#navigation ul li.current a {
  color: #f1c40f;
}
#navigation ul li:last-child a {
  padding-right: 0;
}
#navigation ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f1c40f;
  padding: 0;
}
#navigation ul ul li {
  float: none;
  width: 200px;
  padding: 0;
  /*arrow*/
}
#navigation ul ul li:first-child > a:after {
  content: "";
  border-bottom: 15px solid #f1c40f;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  left: 50%;
  position: absolute;
  top: -15px;
  margin-left: -13px;
}
#navigation ul ul a {
  padding: 15px 20px;
  display: block;
  border-bottom: none !important;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: white !important;
}
#navigation ul ul a:hover {
  border-bottom: none !important;
  background: #f3cd36;
  color: white;
}
#navigation ul ul ul {
  top: 0;
  left: 100%;
}
#navigation ul ul ul a:after {
  display: none;
}
#navigation #pull {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 767px) {
  /* #menu is the original menu */
  .js #menu {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }
}
/*
    Mobile Menu Core Style
*/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}

.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
  margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}

.slicknav_nav {
  clear: both;
}

.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_nav .slicknav_row {
  display: block;
}

.slicknav_nav a {
  display: block;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}

.slicknav_menu:after {
  clear: both;
}

/* IE6/7 support */
.slicknav_menu {
  *zoom: 1;
}

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
  font-size: 16px;
}

/* Button */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}

/* Button Text */
.slicknav_menu .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}

.slicknav_menu {
  background: #24543e;
  padding: 5px;
}

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}

.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}

.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px;
}

.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}

.slicknav_nav a {
  padding: 8px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #173b2b;
  color: #fff;
}

.slicknav_nav a:hover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #173b2b;
  color: #fff;
}

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

/*==========================================================================
  HOME
========================================================================== */
.visit-call {
  background: #24543e;
  padding: 30px 0;
  color: #e6e6e6;
}
.visit-call .visit-call-phone {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .visit-call .visit-call-phone {
    float: left;
    width: 66.6666666667%;
  }
}
@media (max-width: 1199px) {
  .visit-call .visit-call-phone {
    margin-bottom: 25px;
    text-align: center;
  }
}
.visit-call .visit-call-phone p {
  font-size: 23px;
  margin: 0;
}
.visit-call .visit-call-phone h4 {
  margin: 0;
  font-size: 28px;
  color: #e6e6e6;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .visit-call .visit-call-phone p {
    font-size: 28px;
  }
  .visit-call .visit-call-phone h4 {
    font-size: 36px;
  }
}
.visit-call .visit-call-btn {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
}
@media (min-width: 992px) {
  .visit-call .visit-call-btn {
    float: left;
    width: 33.3333333333%;
  }
}
.visit-call .visit-call-btn .btn-ylowshad {
  display: block;
}
.visit-call .visit-call-btn a {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .visit-call .visit-call-btn a {
    font-size: 24px;
  }
}

.splashtext {
  text-align: center;
  padding: 15px 0;
  background: white;
}
.splashtext h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #404040;
  font: 700 45px/1 'Montserrat', sans-serif;
  margin: 0;
  padding: 28px 6% 41px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  .splashtext h1 {
    font-size: 30px;
  }
}
.splashtext h1:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background: #404040;
  width: 100%;
  height: 2px;
}
.splashtext h1 span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: white;
  padding: 0 28px;
}

/*==========================================================================
  PRACTICE AREA
========================================================================== */
#tice-area {
  background: #d9d9d9;
  padding: 50px 0 80px 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  #tice-area {
    margin-bottom: 40px;
  }
}

.tice-area-item {
  margin-left: -15px;
  margin-right: -15px;
}
.tice-area-item:before, .tice-area-item:after {
  content: " ";
  display: table;
}
.tice-area-item:after {
  clear: both;
}
.tice-area-item li {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .tice-area-item li {
    float: left;
    width: 33.3333333333%;
  }
}
@media (max-width: 991px) {
  .tice-area-item li:last-child .inner {
    border: none;
  }
}
.tice-area-item li figure {
  margin-bottom: 25px;
  width: 100%;
  height: 200px;
}
.tice-area-item li .inner {
  width: 94%;
  margin: 0 auto;
  background: white;
  padding-bottom: 35px;
}
@media (max-width: 991px) {
  .tice-area-item li .inner {
    background: none;
    border-bottom: 1px solid #24543e;
    margin-bottom: 40px;
  }
}
.tice-area-item li .desc {
  font-size: 20px;
  padding: 0 32px;
}

/* ======== HOTLINE ======== */
#hotline {
  background-image: url('../img/bg-image2.jpg?1416823096');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: #2d2d2d;
  min-height: 280px;
  height: auto !important;
  height: 280px;
  padding: 40px 0;
  text-align: center;
  color: white;
}
#hotline .hotline-inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
#hotline p {
  color: white;
  font: 700 34px 'Montserrat', sans-serif;
}
#hotline h2 {
  color: #f1c40f;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding: 20px 0 20px 110px;
  font: 700 58px 'Montserrat', sans-serif;
  background: url('../img/hours_24.png?1416471796') left center no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #hotline h2 {
    /* on retina, use image that's scaled by 2 */
    background-image: url('../img/hours_24@2x.png?1416471812');
    background-size: 82px 80px;
  }
}
@media (max-width: 1199px) {
  #hotline h2 {
    font-size: 46px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  #hotline p {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  #hotline p {
    font-size: 25px;
  }
  #hotline h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  #hotline h2 {
    font-size: 30px;
    background-position: top center;
    padding: 0;
    padding-top: 100px;
  }
  #hotline p {
    font-size: 22px;
  }
}

/* ======== REQUEST BLOCK ======== */
.request-block {
  padding: 80px 0;
  overflow: hidden;
  background: #24543e;
}

.request-form:before, .request-form:after {
  content: " ";
  display: table;
}
.request-form:after {
  clear: both;
}
.request-form .left, .request-form .right {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .request-form .left, .request-form .right {
    float: left;
    width: 50%;
  }
}
.request-form .form-control {
  background: #1d4332;
  color: white;
  font-size: 22px;
  font-weight: normal;
  padding-right: 20px;
  padding-left: 20px;
  height: 65px;
  border: 1px solid #142e22;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.request-form .form-control::-webkit-input-placeholder {
  color: #e6e6e6;
}
.request-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #e6e6e6;
}
.request-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6e6e6;
}
.request-form .form-control:-ms-input-placeholder {
  color: #e6e6e6;
}
.request-form textarea.form-control {
  height: auto;
  margin-bottom: 12px;
}

/*==========================================================================
  ABOUT
========================================================================== */
.bg-about {
  background-image: url('../img/bg-image3.jpg?1416880817');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: #141414;
  min-height: 380px;
  height: auto !important;
  height: 380px;
}

.atorney-item {
  overflow: hidden;
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #cccccc;
  position: relative;
}
.atorney-item:first-child {
  margin-top: 0;
}
.atorney-item .atorney-item-share {
  position: absolute;
  top: 30px;
  right: 0;
  text-align: right;
}
.atorney-item .atorney-item-share a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #cccccc;
  font-size: 1.1em;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: 10px;
}
.atorney-item .atorney-item-share a:hover {
  color: #24543e;
  text-decoration: none;
}
.atorney-item figure {
  float: left;
  width: 140px \9;
  max-width: 140px;
  height: auto;
  margin-right: 28px;
}
.atorney-item .desc {
  overflow: hidden;
}
@media (max-width: 480px) {
  .atorney-item .desc {
    overflow: visible;
  }
}
.atorney-item .desc .name {
  font-weight: 700;
  display: block;
  margin-bottom: 3px;
  padding-right: 100px;
}
.atorney-item .desc .ocup {
  display: block;
  color: #8c8c8c;
  margin-bottom: 14px;
}
.atorney-item .desc .atorney-item-link {
  text-align: right;
}
.atorney-item .desc .atorney-item-link a {
  color: #24543e;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
}
.atorney-item .desc .atorney-item-link a:hover, .atorney-item .desc .atorney-item-link a:focus, .atorney-item .desc .atorney-item-link a:active {
  color: #f1c40f;
  text-decoration: none;
}

.togle-target {
  display: none;
}

/* ======== TESTIMONIAL ======== */
.testitem {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (min-width: 992px) {
  .testitem {
    float: left;
    width: 50%;
  }
}
.testitem:hover .testitem-text, .testitem:hover .testitem-profile figure {
  border-color: #f1c40f;
}

.testitem-text {
  padding: 33px 25px 40px;
  font-style: italic;
  position: relative;
  border: 1px solid #dedddd;
  background: white;
  margin-bottom: 33px;
  line-height: 1.4em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.testitem-text:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 17px;
  left: 38px;
  bottom: -17px;
  background: url('../img/arrow_testi.png?1416924126') 0 0 no-repeat;
}

.testitem-profile figure {
  width: 100px;
  height: 102px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #d7d6d6;
  float: left;
  margin-right: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.testitem-profile p {
  overflow: hidden;
  color: #5a5a5a;
  line-height: 1.5em;
  display: table-cell;
  vertical-align: middle;
  height: 95px;
  font-size: 14px;
}
.testitem-profile p strong {
  color: #272727;
  display: block;
  font-size: 16px;
}

/*==========================================================================
  A_aCIDENT
========================================================================== */
.bg-accident {
  background-image: url('../img/bg-image4.jpg?1416929364');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: #141414;
  min-height: 380px;
  height: auto !important;
  height: 380px;
}
@media (max-width: 330px) {
  .bg-accident {
    min-height: auto;
    height: auto !important;
    height: auto;
  }
}

.acident-contact figure {
  float: left;
  max-width: 270px;
  overflow: hidden;
  margin-right: 30px;
}
.acident-contact .desc {
  overflow: hidden;
}
@media (max-width: 767px) {
  .acident-contact .desc {
    overflow: visible;
  }
}
.acident-contact .desc strong {
  color: #272727;
  display: block;
  margin-bottom: 3px;
}

/*==========================================================================
  CONTACT
========================================================================== */
/* ======== CONTACT HOME ======== */
.contact-home {
  background-image: url('../img/map.jpg?1416825368');
  background-position: center center;
  background-color: white;
  padding: 60px 0;
  font-size: 20px;
  line-height: 1.4em;
}

.contact-text {
  font-size: 20px;
  line-height: 1.4em;
  text-align: center;
}

.contact-box {
  text-align: center;
  font-size: 20px;
  line-height: 1.4em;
}
@media (max-width: 480px) {
  .contact-box {
    font-size: 24px;
  }
}
.contact-box .contact-box-inner {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: white;
  border: 1px solid #f1c40f;
  padding: 48px 28px;
  width: 365px\9;
  max-width: 365px;
  margin: 30px auto 60px auto;
  position: relative;
  z-index: 1;
}
.contact-box .contact-box-inner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  margin: auto;
  width: 60px;
  height: 60px;
  background: url('../img/icon_map.png?1416471890') 0 0 no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .contact-box .contact-box-inner:before {
    /* on retina, use image that's scaled by 2 */
    background-image: url('../img/icon_map@2x.png?1416471903');
    background-size: 60px 60px;
  }
}
.contact-box h5 {
  font: 700 28px 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 12px;
}

.contact-items {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}
.contact-items:before, .contact-items:after {
  content: " ";
  display: table;
}
.contact-items:after {
  clear: both;
}
.contact-items ul li {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .contact-items ul li {
    float: left;
    width: 33.3333333333%;
  }
}
@media (max-width: 991px) {
  .contact-items ul li {
    margin-bottom: 30px;
  }
}
.contact-items ul li .inner {
  width: 90%;
  margin: 0 auto;
}
.contact-items ul li h5 {
  font: 700 20px 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 11px;
}

/* ======== CONTACT PAGE ======== */
.contact-form .request-form .form-control {
  background: #e5e5e5;
  color: #6e6e6e;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.contact-form .request-form .form-control::-webkit-input-placeholder {
  color: #c2c2c2;
}
.contact-form .request-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #c2c2c2;
}
.contact-form .request-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #c2c2c2;
}
.contact-form .request-form .form-control:-ms-input-placeholder {
  color: #c2c2c2;
}

/* ======== CONTACT MAP TABS ======== */
.contact-map {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .contact-map {
    float: left;
    width: 50%;
  }
}
@media (max-width: 991px) {
  .contact-map {
    margin-bottom: 30px;
  }
}

.contact-form {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .contact-form {
    float: left;
    width: 50%;
  }
}

#tabs_container {
  border: 1px solid #d7d6d6;
  background: #e5e5e5;
}

#tabs {
  list-style: none;
  text-align: center;
}
#tabs li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #e5e5e5;
  text-align: center;
  padding: 18px 5%;
  min-width: 24%;
  border-right: 1px solid #d7d6d6;
  position: relative;
}
#tabs li:last-child {
  border: none;
}
#tabs li a {
  border: 2px solid #d7d6d6;
  padding: 4px 6px;
  text-decoration: none;
  color: #404040;
  background-color: transparent;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 330px) {
  #tabs li a {
    width: 35px;
    height: 35px;
    font-size: 13px;
  }
}
#tabs li a:hover {
  background-color: white;
  border-color: #f1c40f;
}
#tabs li.active:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  width: 26px;
  height: 15px;
  background: transparent url('../img/arrow_tabs.png?1416970766') 0 0 no-repeat;
}
#tabs li.active a {
  background-color: #fff;
}
#tabs li.active a:hover {
  background-color: #eeeeee;
}

#tabs_content_container {
  border: 1px solid #ccc;
  border-top: none;
}
#tabs_content_container iframe {
  height: 380px;
}

.tab_content {
  display: none;
}

/*==========================================================================
  PERSONAL INJURY
========================================================================== */
.bg-intro-sub {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: #141414;
  min-height: 380px;
  height: auto !important;
  height: 380px;
}

.intro-sub-text h1 {
  text-transform: uppercase;
}

.injury-hdline {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-size: 1.1em;
}
@media (min-width: 992px) {
  .injury-hdline {
    width: 90%;
    max-width: 980px;
  }
}
.injury-hdline:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 1px;
  background: #a1a1a1;
}
.injury-hdline strong {
  color: #272727;
  display: block;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 10px;
}

#injurylist {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  #injurylist {
    width: 88%;
    max-width: 880px;
  }
}
#injurylist .injurylist-title {
  font-size: 1.2em;
  text-align: center;
  color: #272727;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
}
#injurylist .injurylist-break {
  display: none;
  float: none;
  border-top: 1px solid #bdcbc5;
  width: 100%;
  margin: 28px auto;
  clear: both;
}
#injurylist .injurylist-break:before, #injurylist .injurylist-break:after {
  content: " ";
  display: table;
}
#injurylist .injurylist-break:after {
  clear: both;
}
@media (min-width: 1200px) {
  #injurylist .injurylist-break {
    display: block;
  }
}

.injurylist-item {
  width: 100%;
  padding: 15px 0;
  display: block;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
@media (min-width: 1200px) {
  .injurylist-item {
    width: 49%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-bottom: 0;
    padding: 0;
  }
}
.injurylist-item figure {
  float: left;
  margin-right: 20px;
  border: 5px solid #bdcbc5;
  width: 130px;
  height: 130px;
  overflow: hidden;
}
.injurylist-item figure img {
  width: 130px;
  height: auto;
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.injurylist-item figure:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.injurylist-item .injurylist-item-desc {
  overflow: hidden;
}
@media (max-width: 380px) {
  .injurylist-item .injurylist-item-desc {
    overflow: visible;
  }
}
.injurylist-item .injurylist-item-desc a {
  color: #272727;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.injurylist-item .injurylist-item-desc a:hover {
  color: #f1c40f;
  text-decoration: none;
}

/*==========================================================================
  SIDEBAR
========================================================================== */
#sidebar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  #sidebar {
    float: left;
    width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  #sidebar {
    float: left;
    width: 25%;
  }
}

.side-list {
  margin-right: -1px;
}
.side-list ul li {
  display: block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.side-list ul li:hover {
  background: white;
}
.side-list ul li:hover a {
  color: #404040;
  border-left: 5px solid #24543e;
  text-decoration: none;
}
.side-list ul li a {
  display: block;
  padding: 14px 20px;
  font-size: 16px;
  color: #737373;
  border-bottom: 1px solid #cdcdcd;
  margin-right: 1px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.side-list ul li:first-child a {
  border-top: 1px solid #cdcdcd;
}
.side-list ul li.active {
  background: white;
}
.side-list ul li.active a {
  color: #404040;
  border-left: 5px solid #24543e;
  text-decoration: none;
}

/*==========================================================================
  FOOTER
========================================================================== */
#footer {
  background: #163326;
  padding: 55px 0;
  text-align: center;
  color: #8b9993;
}
#footer:before, #footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}

.logo-foot {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  border-bottom: 1px solid #8b9993;
  padding-bottom: 8px;
  margin-bottom: 18px;
}
.logo-foot h1, .logo-foot p {
  color: #8b9993;
}
.logo-foot h1:after, .logo-foot h1:before, .logo-foot p:after, .logo-foot p:before {
  background: #8b9993;
}

.copyright {
  font-size: 16px;
}

/* ======== ANIMATE CSS ======== */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%,20%,50%,80%,100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,20%,50%,80%,100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes flash {
  0%,50%,100% {
    opacity: 1;
  }

  25%,75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,50%,100% {
    opacity: 1;
  }

  25%,75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes shake {
  0%,100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,40%,60%,80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,40%,60%,80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}

.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%,20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,50%,70%,90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,60%,80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%,20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,50%,70%,90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,60%,80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    -ms-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }

  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    -ms-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }

  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    -ms-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }

  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }

  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    -ms-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }

  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

@-webkit-keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}

@keyframes bounceOutDown {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

@-webkit-keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

@keyframes bounceOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

@keyframes bounceOutRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
}

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
  }

  0%,40% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
  }

  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
  }

  80%,100% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
  }

  0%,40% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    -ms-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
  }

  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
  }

  80%,100% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0);
    -ms-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(0);
    transform: perspective(400px) rotateY(0);
    opacity: 1;
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    -ms-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
    -ms-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    -ms-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(0);
    -ms-transform: perspective(400px) rotateY(0);
    transform: perspective(400px) rotateY(0);
    opacity: 1;
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0);
    -ms-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.flipOutX {
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@-webkit-keyframes flipOutY {
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
    transform: perspective(400px) rotateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
    -ms-transform: perspective(400px) rotateY(0);
    transform: perspective(400px) rotateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    -ms-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

.flipOutY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(0);
    transform: translateX(0%) skewX(0);
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    -ms-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    -ms-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(0);
    -ms-transform: translateX(0%) skewX(0);
    transform: translateX(0%) skewX(0);
    opacity: 1;
  }
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes lightSpeedOut {
  0% {
    -webkit-transform: translateX(0%) skewX(0);
    transform: translateX(0%) skewX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    -webkit-transform: translateX(0%) skewX(0);
    -ms-transform: translateX(0%) skewX(0);
    transform: translateX(0%) skewX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(-200deg);
    -ms-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}

@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  0% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

@-webkit-keyframes rotateInUpLeft {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeft {
  0% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight {
  0% {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}

@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  100% {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }
}

@keyframes rotateOut {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }

  100% {
    -webkit-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);
    opacity: 0;
  }
}

.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}

@-webkit-keyframes rotateOutDownLeft {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownLeft {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  -webkit-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
}

@-webkit-keyframes rotateOutDownRight {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownRight {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}

@-webkit-keyframes rotateOutUpLeft {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpLeft {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  -webkit-animation-name: rotateOutUpLeft;
  animation-name: rotateOutUpLeft;
}

@-webkit-keyframes rotateOutUpRight {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpRight {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }

  0%,100% {
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
  }

  100% {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  0%,20%,60% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,60% {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  40% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  40%,80% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  0%,20%,60% {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,60% {
    -webkit-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
  }

  40% {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  40%,80% {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    -ms-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(700px);
    -ms-transform: translateY(700px);
    transform: translateY(700px);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}

@keyframes rollOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(120deg);
    -ms-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg);
  }
}

.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}
