/*==========================================================================
  ABOUT
========================================================================== */

.bg-about{
	background-image:image-url('bg-image3.jpg');
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color:lighten(black, 8%);
	@include min-height(380px);	
}


.atorney-item{
	overflow:hidden;
	margin-top:$pixel * 2;
	padding-top:$pixel * 3;
	border-top: $pixel_9 solid darken(white, 20%);
	position:relative;

	&:first-child{
		margin-top:0;
	}

	.atorney-item-share{
		position:absolute;
		top:30px;
		right:0;
		text-align:right;

		a{
			@include inline-block();
			color:darken(white, 20%);
			font-size:1.1em;
			@include prefixed(transition, all .3s linear);
			margin-left:$pixel;
			&:hover{
				color:$green;
				text-decoration:none;
			}
		}
	}

	figure{
		float:left;
		width:140px \9;
		max-width:140px;
		height:auto;
		margin-right:28px;

	}

	.desc{
		overflow:hidden;

		@media (max-width : $screen-phone){
			overflow: visible
		}

		.name{
			font-weight:700;
			display:block;
			margin-bottom:$pixel_7;
			padding-right:100px;
		}
		.ocup{
			display:block;
			color:lighten($font, 30%);
			margin-bottom:$pixel + 4;
		}

		.atorney-item-link{
			text-align:right;
			a{
				color:$green;
				@include inline-block();
				@include prefixed(transition, all .3s linear);
				font-size:14px;

				&:hover, &:focus, &:active{
					color:$yellow;
					text-decoration:none;
				}
			}
		}
	}
}

.togle-target{
	display:none;
}

/* ======== TESTIMONIAL ======== */

.testitem{
	@include make-md-column(6);
	margin-bottom:40px;
	@include prefixed(transition, all 0.3s ease-out);

	&:hover{
		.testitem-text, .testitem-profile figure{
			border-color:$yellow;
		}
	}
}

.testitem-text{
	padding:$pixel * 3+3 $pixel + 15 $pixel * 4;
	font-style:italic;
	position:relative;
	border:$pixel_9 solid #dedddd;
	background:white;
	margin-bottom:$pixel*3+3;
	line-height:1.4em;
	@include prefixed(transition, all 0.3s ease-out);
	&:before{
		content :'';
		position:absolute;
		@include size(22px, 17px);
		left:38px;
		bottom:-17px;
		background:image-url('arrow_testi.png') 0 0 no-repeat;
		
	}	
}

.testitem-profile{
	figure{
		@include size(100px, 102px);
		@include border-radius(50%);
		overflow:hidden;
		border:2px solid #d7d6d6;
		float:left;
		margin-right:20px;
		text-align:center;
		@include prefixed(transition, all 0.3s ease-out);
	}

	p{
		overflow:hidden;
		color:lighten($font, 10%);
		line-height:1.5em;
		display:table-cell;
		vertical-align:middle;
		height:95px;
		font-size:14px;
		strong{
			color:darken($font, 10%);
			display:block;
			font-size:16px;
		}
	}
}
