/*==========================================================================
  A_aCIDENT
========================================================================== */

.bg-accident{
	background-image:image-url('bg-image4.jpg');
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color:lighten(black, 8%);
	@include min-height(380px);	

	@media (max-width : 330px){
		@include min-height(auto);	
	}
}

.acident-contact{
	figure{
		float:left;
		max-width:270px;
		overflow:hidden;
		margin-right:30px;
	}

	.desc{
		overflow:hidden;
		@media (max-width : $screen-xs-max){
			overflow:visible;
		}
		strong{
			color:darken($font, 10%);
			display:block;
			margin-bottom:3px;
		}
	}
}