/*==========================================================================
  SIDEBAR
========================================================================== */

#sidebar{
	@include make-sm-column(4);
	@include make-md-column(3);
	background:transparent;
	padding:$pixel*4 0;
	position:relative;
	z-index:1;
}

.side-list{	
	margin-right:-1px;
	ul{
		li{
			display:block;
			@include prefixed(transition, all 0.3s linear);
			&:hover{
				background:white;
				a{
					color:$font;
					border-left:$pixel_5 solid $green;
					text-decoration:none;
				}
			}

			a{
				display:block;
				padding:14px 20px;
				font-size:16px;
				color:lighten($font, 20%);
				border-bottom:$pixel_9 solid #cdcdcd;
				margin-right:1px;
				@include prefixed(transition, all 0.3s linear);
			}

			&:first-child{
				a{
					border-top:$pixel_9 solid #cdcdcd;
				}
			}

			&.active{
				background:white;
				a{
					color:$font;
					border-left:$pixel_5 solid $green;
					text-decoration:none;
				}
			}
		}
	}
}