//BUTTON

.btn-ylowshad{
	background:none;
	border:none;
	background:$yellow;
	@include inline-block();
	color:white;
	font:  400 24px 'Montserrat', sans-serif;
	padding:20px 25px;
	text-decoration:none;
	position:relative;
	text-align:center;

	@include border-radius(4px);
	@include box-shadow(0 5px #b68d00);
	@include text-shadow(0 1.3px darken($yellow, 15%));


	&:hover{
		color:white;
		text-decoration:none;
		top: 2px;
		@include box-shadow(0 3px #b68d00);
	}

	&:active{
		@include box-shadow(0 0px #b68d00);
		top: 6px;
		color:white;
		text-decoration:none;
	}

	&.full{
		width:100%;
	}
}

.btn-ylow{
	background:none;
	border:none;
	background:$yellow;
	@include inline-block();
	@include min-width(200px);
	text-align:center;
	font:  400 16px 'Montserrat', sans-serif;
	text-transform:uppercase;
	color:white;
	text-decoration:none;
	padding:12px 25px;
	overflow: hidden;
	position:relative;
	z-index:1;

	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		@include prefixed(transition, all .3s linear);
		width: 100%;
		height: 0;
		top: 50%;
		left: 50%;
		background:darken($yellow, 8%);
		opacity: 0;
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}

	&:hover, &:active, &:focus{
		color:white;
		text-decoration:none;
	}

	&:hover{
		&:after {
			height: 260%;
			opacity: 1;
		}
	}

	&:active{
		&:after {
			height: 400%;
			opacity: 1;
		}
	}
}

.btn-white{
	background:none;
	margin:0;
	border:none;
	background:white;
	color:$font;
	font-size:0.9em;
	border:1px solid #bdcbc5;
	padding:7px 25px;
	text-transform:uppercase;
	@include inline-block();
	@include prefixed(transition, all .3s ease-out);
	&:hover, &:focus,  &:active{
		background:$green;
		color:white;
		text-decoration:none;
	} 

}

