/*==========================================================================
  CONTACT
========================================================================== */

/* ======== CONTACT HOME ======== */
.contact-home{
	background-image:image-url('map.jpg');
	background-position: center center;
	background-color:white;	
	padding:60px 0;
	font-size:20px;
	line-height:1.4em;
}

.contact-text{
	font-size:20px;
	line-height:1.4em;	
	text-align:center;
}
.contact-box{
	text-align:center;
	font-size:20px;
	line-height:1.4em;
	@media (max-width : $screen-xs){
		font-size:24px;
	}
	.contact-box-inner{
		@include inline-block();
		background:white;
		border:1px solid $yellow;
		padding:48px 28px;
		width:365px\9;
		max-width: 365px;
		margin:30px auto 60px auto;
		position:relative;
		z-index:1;

		&:before{
			content:'';
			position:absolute;
			left:0;
			right:0;
			top:-30px;
			margin:auto;
			@include square(60px);
			background: image-url('icon_map.png')  0 0 no-repeat;
			@include image-2x( image-url('icon_map@2x.png'), 60px, 60px);
		}
	}
	h5{
		font: 700 28px 'Montserrat', sans-serif;
		margin:0;
		margin-bottom:12px;
	}	
}

.contact-items{
	@include make-row();
	text-align:center;
	ul{
		li{
			@include make-sm-column(4);
			@media (max-width : $screen-sm-max){
				margin-bottom:30px;
			}
			.inner{
				width:90%;
				margin:0 auto;
			}
			h5{
				font: 700 20px 'Montserrat', sans-serif;
				text-transform:uppercase;
				margin:0;
				margin-bottom:11px;	
			}
		}
	}
}

/* ======== CONTACT PAGE ======== */
.contact-form{
	.request-form{
		.form-control{
			background:#e5e5e5;
			color:#6e6e6e;
			border:1px solid #c8c8c8;
			@include border-radius(0);
			@include box-shadow(inset 1px 1px 4px rgba(0,0,0,.2));
			@include placeholder-color(darken(white, 24%));
		}	

	}
}

/* ======== CONTACT MAP TABS ======== */


.contact-map{
	@include make-md-column(6);

	@media (max-width : $screen-sm-max ){
		margin-bottom:30px;
	}
}

.contact-form{
	@include make-md-column(6); 
}

#tabs_container {
  border: 1px solid #d7d6d6;
  background:#e5e5e5; 
 }

#tabs {
  list-style: none;
  text-align:center;
  li {
    @include inline-block();
    background:#e5e5e5; 
    text-align:center;
    padding: 18px 5%;
    min-width:24%;
	border-right: 1px solid #d7d6d6;
	position:relative;

	&:last-child{
		border:none;
	}

    a {
      border:2px solid #d7d6d6;
      padding: 4px 6px;
      text-decoration: none;
      color:$font;
      background-color: transparent;
      vertical-align:middle;
      @include square(40px);
      @include inline-block();
      @include border-radius(50%);
      @include prefixed(transition, all .3s linear);

      @media (max-width : 330px){
      	 @include square(35px);
      	 font-size: 13px;
      }

      &:hover {
        background-color: white;
        border-color:$yellow;
      }

    }


    &.active {
    	&:before{
    		content :'';
    		position:absolute;
    		left: 0;
			right: 0;
			bottom: -15px;
    		margin:auto;
    		@include size(26px, 15px);
    		background:transparent image-url('arrow_tabs.png') 0 0 no-repeat;
    	}
    	
      a{
	      background-color: #fff;
	      &:hover {
	        background-color: #eeeeee;
	      }
      }
    }


  }
}

#tabs_content_container {
  border: 1px solid #ccc;
  border-top: none;

  iframe{
  	height:380px;
  }
}

.tab_content {
  display: none;
}


