/*==========================================================================
  FOOTER
========================================================================== */
#footer{
	background:#163326;
	padding:55px 0;
	@include clearfix;
	text-align:center;
	color:#8b9993
}

.logo-foot{
	@extend #logo;
	@include inline-block();
	position:relative;
	border-bottom:1px solid #8b9993;
	padding-bottom:8px;
	h1, p{
		color:#8b9993; 

		&:after, &:before{
			background:#8b9993; 
		}
	}
	margin-bottom:18px;
}

.copyright{
	font-size:16px;
}