body{
	background:white;
	font:17px/1.8 'Montserrat', sans-serif;
	color:#4f4e4c;
	font-weight:400;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


/*==========================================================================
  GLOBAL CLASS
========================================================================== */
.bg-grey{
	position:relative;
	z-index:1;
	&:before{
		content:'';
		position:absolute;
		z-index:-1;
		left:0;
		top:0;
		height:100%;
		width:50%;
		margin-left:-292px;
		background:#efefef;

		@media (max-width : $screen-md-max){
			margin-left: -237px;
		}
		@media (max-width : $screen-sm-max){
			margin-left: -123px;
		}
		@media (max-width : $screen-xs-max){
			display:none;
		}
	}


}

.img-right{
	float:right;
	margin-left:28px;

	@media (max-width : $screen-phone){
		float:none;
		margin:0;
		margin-bottom:25px;
	}
}

.main-space{
	padding:50px 0;
	@include clearfix();
}
