/*==========================================================================
  HEADER
========================================================================== */

#header{
	position:relative;
	z-index:0;
}

#hometop-block{
	background-image:image-url('bg-image.jpg');
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color:$white;
	height:auto;
	overflow:hidden;
	@include clearfix();

	@media(min-width:$screen-lg){
		height:750px;
	}
}


.logowrap{
	background:white;
	color : $green;
	text-align:center;
	padding-top:$pixel * 5;
	padding-bottom:$pixel + 14;

	&.logo-nobg{
		background:transparent;
		color:white;
		#logo{
			p{
				color:white;
				&:before, &:after{
					background:white;
				}
			}
			h1{
				color:white;
			}
		}


	}
}

#logo{
	p{
		font: 400 18px 'Montserrat', sans-serif;
		position:relative;
		margin-bottom:0;
		width:355px \9;
		max-width:355px;
		text-transform:uppercase;
		color:$green;
		margin:0 auto;

		&:before, &:after{
			content: '';
			position:absolute;
			top:50%;
			@include size(60px, 3px);
			background:$green;

		}

		&:before{
			left:0;
		}
		&:after{
			right:0;
		}

		@media (max-width : 330px){
			&:before, &:after{
				display:none;
			}
		}

	}

	h1{
		font: 700 36px 'Montserrat', sans-serif;
		color : $green;
		margin:0;


		@media (max-width: 330px){
			font-size:28px;	
		}
	}
}

/* ======== NAVIGATION WRAP ======== */
#nav-wrapper{
	background:rgba($limed, 0.5);
	border-top:1px solid $dawn;
	border-bottom:1px solid $dawn;
	padding:$pixel + 2 0 0 0;
	@include clearfix();
	position:relative;
	z-index:1;
	@include min-height(75px);

	&.bg-solid{
		background:$limed;
	}
	
	.container{
		position:relative;
	}


	@media(max-width : $screen-sm-max){
		margin-top:40px;
	}

	@media(max-width :  $screen-xs-max){
		padding-bottom:33px;
	}
}

.contact-free{
	background:$yellow;
	color:white;
	font-weight:700;
	float:left;
	@include min-height(95px);
	@include min-width(300px);
	padding: 20px 25px 16px;
	text-align:center;
	position:absolute;
	z-index:2;
	left:0;
	top: -34px;
	margin-left: -23px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	@include text-shadow(0 1px rgba(0,0,0,.2));


	&:before{
		content :'';
		position:absolute;
		@include square(21px);
		right:-21px;
		top:0;
		z-index:0;
		background:transparent image-url('clip.png') 0 0 no-repeat;
	}

	.text{
		@include inline-block;
		margin:0 auto;
		text-align:left;
	}

	p{
		font-weight:700;
		font-size:$pixel + 6;
		margin:0;
		text-transform:uppercase;
	}
	h3{
		font-size:30px;
		margin:0;
		font-weight:700;
		text-transform:uppercase;
	}


	@media(min-width : 1345px){
		margin-left: -107px;
	}

	@media(max-width : $screen-md-min){
		width: 100%;
		float:none;
		position:relative;
	}
}

/* ======== TOP SHARE ======== */

.share{
	overflow:hidden;
	font-size:1.2em;
	text-align:left;
	padding:6px 0;
	font-size:1.2em;
	
	@media(max-width : $screen-sm-max){
		top: 75px;
		right:0;
		text-align:center;
		position:absolute;
		width:100%;
	}
	@media(min-width : $screen-lg){
		font-size:1.3em;
		overflow:hidden;
		text-align:center;
	}


	a{
		color:white;
		text-align:right;
		@include inline-block();
		padding: 0 $pixel_2;  
		@include prefixed(transition, all .3s linear);
		&:last-child{
			padding-right:0;
		}
		&:hover{
			color:$yellow;
		}
	}
}

