/*==========================================================================
  HOME
========================================================================== */

.visit-call{
	background:$green;
	padding:30px 0;
	color:darken(white, 10%);
	.visit-call-phone{
		@include make-md-column(8);
		font-weight:700;

		@media (max-width : $screen-md-max)
		{
			margin-bottom:25px;
			text-align:center;
		}

		p{
			font-size:23px;
			margin:0;
		}

		h4{
			margin:0;
			font-size:$pixel + 18;
			color:darken(white, 10%);
			font-weight:700;
		}

		@media(min-width:$screen-lg){
			p{
				font-size:28px;
			}
			h4{
				font-size:$pixel + 26;
			}
		}
	}

	.visit-call-btn{
		@include make-md-column(4);
		padding-top:$pixel_3;

		.btn-ylowshad{
			display:block;
		}
		a{font-size:18px;}
		
		@media(min-width:$screen-lg){
			a{font-size:24px;}
		}
	}
}

.splashtext{
	text-align:center;
	padding:$pixel+5 0;
	background:white;
	h1{
		@include inline-block();
		color:$font;
		font: 700 45px/1 'Montserrat', sans-serif;	
		margin:0;
		padding:28px 6% 41px;
		position:relative;
		z-index:1;
		@media (max-width : $screen-md-max){
			font-size:30px;
		}


		&:before{
			content:'';
			position:absolute;
			z-index:-1;
			top:50%;
			left:0;
			right:0;
			margin:auto;
			background:$font;
			@include size(100%, 2px);
		}

		span{
			@include inline-block();
			background:white;
			padding:0 28px;
		}
	}

}

/*==========================================================================
  PRACTICE AREA
========================================================================== */
#tice-area{
	background:darken(white, 15%);	
	padding:50px 0 80px 0;
	overflow:hidden;
	@media (max-width : $screen-sm-max){
		margin-bottom:40px;
	}
}

.tice-area-item{
	@include make-row();

	li{
		@include make-md-column(4);
		text-align:center;
		margin-bottom:20px;

		@media (max-width : $screen-sm-max){

			&:last-child{
				.inner{border:none;}
			}
		}
		

		figure{
			margin-bottom:25px;
			@include size(100%, 200px);
		}
		.inner{
			width:94%;
			margin:0 auto;
			background:white;
			padding-bottom:35px;

			@media (max-width : $screen-sm-max){
				background:none;
				border-bottom:1px solid $green;
				margin-bottom:40px;
			}
		}

		.desc{
			font-size:20px;
			padding: 0 32px;
		}
	}
}

/* ======== HOTLINE ======== */

#hotline{
	background-image:image-url('bg-image2.jpg');
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color:#2d2d2d;
	@include min-height(280px);
	padding:$pixel * 4 0;
	text-align:center;
	color:white;

	.hotline-inner{
		display: inline-block;
		position: relative;
		vertical-align:middle;
	}

	p{
		color:white;
		font: 700 34px 'Montserrat', sans-serif;	
	}

	h2{
		color:$yellow;
		@include inline-block();
		margin:0;
		padding:$pixel + 10px 0 $pixel + 10px $pixel * 10 + 10;
		font: 700 58px 'Montserrat', sans-serif;	
		background:image-url('hours_24.png') left center no-repeat;
		@include image-2x(image-url('hours_24@2x.png'), 82px, 80px);


	}

	@media (max-width : $screen-md-max){
		h2{font-size:46px;margin-top:22px; margin-bottom:22px}
		p{font-size:30px}
	}
	@media (max-width : $screen-sm-max){
		p{font-size:25px}
		h2{margin-top:15px; margin-bottom:15px}
	}

	@media (max-width : $screen-xs){
		h2{
			font-size:30px;
			background-position:top center;
			padding:0;
			padding-top:100px;
		}
		p{font-size:22px}
	}
}

/* ======== REQUEST BLOCK ======== */
.request-block{
	padding:80px 0;	
	overflow:hidden;
	background:$green;
}

.request-form{
	@include clearfix();
	.left, .right{
		@include make-sm-column(6);
	}

	.form-control{
		background:#1d4332;
		color:white;
		font-size:22px;
		font-weight:normal;
		padding-right:20px;
		padding-left:20px;
		height:65px;
		border:1px solid #142e22;
		@include border-radius(0);
		@include box-shadow(inset 1px 1px 4px rgba(0,0,0,.5));
		@include placeholder-color(darken(white, 10%));
	}	

	textarea.form-control{
		height:auto;
		margin-bottom:12px;
	}
}