/*==========================================================================
  PERSONAL INJURY
========================================================================== */
.bg-intro-sub{
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color:lighten(black, 8%);
	@include min-height(380px);	
}

.intro-sub-text{
	h1{
		text-transform:uppercase;
	}
}

.injury-hdline{
	text-align:center;
	position:relative;
	margin:0 auto;
	padding-bottom:$pixel * 2;
	margin-bottom:$pixel * 5;
	font-size:1.1em;

	@media (min-width : $screen-md ){
		width:90%;
		max-width:980px;
	}

	&:after{
		content:'';
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		@include size(50%, 1px);
		background:#a1a1a1;
	}

	strong{
		color:darken($font, 10% );
		display:block;
		font-size:1.2em;
		line-height:1.6em;
		margin-bottom:$pixel;
	}
}

#injurylist{
	margin:0 auto;
	
	@media (min-width : $screen-lg){
		width:88%;
		max-width:880px;
	}

	.injurylist-title{
		font-size:1.2em;
		text-align:center;
		color:darken($font, 10% );
		margin:0;
		margin-bottom:$pixel * 3;
		font-weight:700;
	}


	.injurylist-break{
		@include clearfix();
		display:none;
		float:none;
		border-top:1px solid #bdcbc5;
		width:100%;
		margin:28px auto;
		clear:both;

		@media (min-width : $screen-lg){
			display:block;
		}
	}

	

}

.injurylist-item{
	width:100%;
	padding:15px 0;
	display:block;
	margin-bottom:$pixel * 2 + 5;
	padding-bottom:$pixel * 2 + 5;

	@media (min-width : $screen-lg){
		width:49%;
		@include inline-block();
		margin-bottom:0;
		padding:0;
	}

	figure{
		float:left;
		margin-right:20px;
		border:5px solid #bdcbc5;
		@include square(130px);
		overflow:hidden;
		img{
			width:130px;
			height:auto;
			@include prefixed (transition, all 0.9s ease-in-out);			
		}
		&:hover{
			img{
				-webkit-transform: scale(1.1);
			    -moz-transform: scale(1.1);
			    -o-transform: scale(1.1);
			    transform: scale(1.1);
			 }
		}
	}

	.injurylist-item-desc{
		overflow:hidden;
		
		@media (max-width : 380px){
			overflow:visible;
		}

		a{
			color:darken($font, 10% );
			font-weight:700;
			display:block;
			margin-bottom:5px;
			@include prefixed(transition, all .2s linear);
			&:hover{
				color:#f1c40f;
				text-decoration:none;
			}
		}
	}

}