/*==========================================================================
  INTRO
========================================================================== */

.homeintro{
	@include make-row();
	padding-top:50px;

	@media(min-width:$screen-lg){
		padding-top:$pixel * 7 + 8;
	}
	
	.thumb{
		@include make-sm-column(5);
		@include make-md-column(6);

		@media (max-width : $screen-sm)
		{
			display:none;
		}

		img{
			margin:auto;
			top:auto;
			bottom:0;

			max-width:100%;
			max-height:100%;
		}
	}
}

.intro-desc{
	@include make-sm-column(7);
	@include make-md-column(6);
	text-align:center;

	@media(min-width:$screen-lg){
		.inner{
			width:87%;
			margin:0 auto;
		}
	}

	@media(max-width:$screen-md-min){
		width:100%;
		padding-bottom:30px;
		float:none;
		margin:0 auto;
	}

	h2{
		font-weight:700;
		margin:0;
		margin-bottom:$pixel  + 20;
		color:white;
		text-transform:uppercase;
		@include text-shadow(0 1px 3px rgba(0,0,0,.5));
		text-align:center;
		font-size:34px;	

		@media (min-width:$screen-md) and ($screen-md-max ) {
			font-size:27px;
		}
	}

	.video{
		text-align:center;
		margin:0 auto;	
		
		iframe{
			width:90%;
			height:250px;
			margin:0 auto;
			
			@media(min-width:$screen-lg){
				height:300px;
				width:100%;
			}

			@media(max-width:$screen-md-min){
				height:300px;
			}
		}
	}
}