/*==========================================================================
  NAVIGATION
========================================================================== */

#navigation
{
	width:100%;
	float:none;
	text-align:right;

	@media(min-width : $screen-lg){
		width:82%;
		float:left;
		text-align:right;
	}
	@media(max-width : $screen-sm-max){
		width:100%;
		float:none;
		text-align:center;
	}
	
	ul{
		list-style:none;
		position:relative;
		margin:0;
		padding:0;

		a{
			@include inline-block();
			text-transform:uppercase;
			text-decoration:none;
			line-height:1.4em;
			text-transform:uppercase;
			font-weight:700;
			color:$white;
			@include prefixed(transition, all 0.3s ease-out);
			font: 600 14px 'Montserrat', sans-serif;
			padding: 19px 12px 30px;

			@media (min-width: 1345px){
				font-size:16px;
			}

			&:hover{
				color:$yellow;
			}
		}

		li{
			position:relative;
			@include inline-block();
			margin:0;
			&:hover{
				> ul{
					display:block;
				}
			}

			&.current{
				a{
					color:$yellow;
				}
			}

			&:last-child{
				a {
					padding-right:0;
				}
			}
		}

	   //DROPDOWN
		ul{
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:$yellow;
			padding:0;

			li{
				float:none;
				width:200px;
				padding:0;

				 /*arrow*/
				&:first-child > a:after {
					content: "";
					border-bottom: 15px solid $yellow;
				    border-left: 15px solid transparent;
				    border-right: 15px solid transparent;
				    left: 50%;
				    position: absolute;
				    top: -15px;
				    margin-left:-13px;
				}
			}

			a{
				padding: $pixel + 5 $pixel * 2;
				display:block;
				border-bottom:none !important;
				text-align:left ;
				font-weight:normal;
				text-transform:uppercase;
				font-size:$pixel_3 * 2;
				font-weight:400;
				color:white !important;

				&:hover{
					border-bottom:none  !important;
					background:lighten($yellow, 8%);
					color:white;
				}
			}

			 ul{
				top:0;
				left:100%;

				a:after{
					display:none;
				}
			}
		}

	}

	#pull{
		display:none;
	}
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width:$screen-sm - 1) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

@import "../vendor/slicknav";