/*==========================================================================
  SUBPAGE
========================================================================== */
#content{
	@include make-sm-column(8);
	@include make-md-column(9);
	background:white;
	@include clearfix();
	padding-top:$pixel + 32;
	padding-bottom:$pixel * 6;
	float:right !important;
	border-left: $pixel_9 solid #cdcdcd;
	position:relative;
	z-index:0;

	@media (max-width : $screen-xs-max){
		float:none !important;
		width:100%;
	}
}

.content-inner{
	width:95%;
	margin:auto;
}

#subtop-block{
	position:relative;
	z-index:1;
}


.intro-sub-text{
	text-align:center;
	color:white;
	height:300px;

	 @media (max-width : 330px){
		 height:auto;
	 }
	&:before {
		  content: '';
		  @include inline-block();
		  height: 100%;
		  vertical-align: middle;
		  margin-right: -0.25em; /* Adjusts for spacing */

		  @media (max-width : 330px){
		  	display:none;
		  }
	}

	.centered{
		@include inline-block();
		width:auto;
	}

	h1{
		font:  700 46px 'Montserrat', sans-serif;
		margin:0;

		@media (max-width : 330px){
		  	margin:20px 0;
		  	font-size:40px;
		  }
	}
}
