/* ======== TYPOGRAPHY ======== */

.title-lg{
	margin:0;
	margin-bottom:40px;
	font: 700 43px/1.3 'Montserrat', sans-serif;	
	color:$green;
	text-transform:uppercase;
	text-align:center;
	@include clearfix();

	@media (max-width : $screen-md-max){
		font-size:39px;
	}
	@media (max-width : $screen-xs){
		font-size:35px;
	}

	&.white{
		color:white;
	}
}

.title-sm{
	color:darken($font, 10%);
	font-size:$pixel + 12;
	margin:0;
	margin-bottom:22px;
	font-weight:700;

	&.title-line{
		border-bottom:$pixel_9 solid darken(white, 20%);
		padding-bottom:$pixel;
	}
}